*{padding: 0;margin:0;}
html, body{
  height: 100%;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
  background: rgb(21,25,15);
  /*position:fixed;*/
}
html::-webkit-scrollbar{width:0px}
::-webkit-scrollbar{
  display:none;
}

a{
  text-decoration: none;
  color:#333;
}

.top-mask{
  position: absolute;
  top: -99%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(21,25,15);
}
.bottom-mask{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(21,25,15);
  z-index: -1
}
.contentBottom{
  font-size: 0.5rem;
  color: #666666;
  height: 1.6rem;
  width: 100%;
  text-align: center;
  line-height: 1.6rem
}
